body{
    padding: 0;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;  
}

.container{
    width: 100%;
}
.input{
    padding: 10px;
    font-size 60px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}